
@font-face {
  font-family: chrimbo;
  src: url("public/Frosty Christmas Demo.otf");
}

body {
    display:flex;
    align-items: center;
    flex-flow:column;
    background-color:black;
    color:white;
    font-family: chrimbo;
    letter-spacing: 0.2em;
    font-size: 1.2em;
}

h3 {
    margin: 0;
    padding:0;
}
button {
    box-shadow: 
        inset 2px 2px 4px rgba(199, 199, 199, 0.6),    
        inset -2px -2px 4px rgba(119, 119, 119, 0.4);
}


.scene-container {
    margin-top:-10px;
    padding:0;
    position: relative;
    background-image: url("public/livingroom4.jpeg");
    width:1500px;
}

.pop-up-images {
    position: absolute;
    display: none;
    z-index: 4;
}

#bing-image {
    width: 420px;
    right: 200px;
    bottom:0;
}

#puppy-image-fire {
    width: 250px;
    left:200px;
    bottom:-65px;
}

#puppy-image-sofa {
    width: 250px;
    right:200px;
    top: 360px;
}

#penguin-image {
    width: 250px;
    right:100px;
    top: 128px;
}

/*styling for test lights*/
.christmas-light {
    position: absolute;
    height: 4px;
    width: 10px;    
    border-radius: 50px 0 0 50px;
    filter: brightness(800%) saturate(150%); 
    opacity: 0.92;
    z-index: 3; 
}

/*color classes to apply to lights*/
.light-off {
    outline: 1px solid rgba(48, 48, 48, 0.2) !important;
    background-color:rgba(0, 0, 0, 0.6) !important;
    box-shadow:none !important;
    background: none !important;
}
.color-white {
    /*
    background: radial-gradient(ellipse, 
        white, 
        rgba(255, 255, 255, 0.8) 60%, 
        rgba(255, 255, 255, 0.6) 100%);
    */
    outline: 1px solid rgba(48, 48, 48, 0.4);
    background-color: white;
    box-shadow: 
        0 0 8px rgb(255, 255, 255),
        0 0 15px rgba(255, 251, 226, 0.5),
        0 0 25px rgba(241, 240, 171, 0.3);
}
.color-red {
    background: radial-gradient(ellipse, 
        rgb(253, 20, 20, 0.9),

        rgb(255, 17, 17) 20%, 
        rgba(255, 15, 15) 40%,
         
        rgba(255, 10, 10) 60%,
         
        rgba(255, 5, 5) 80%, 
        rgba(255, 0, 0) 100%);
    box-shadow: 
        0 0 6px rgb(255, 0, 0),
        0 0 12px rgba(255, 164, 164, 0.5),
        0 0 18px rgba(255, 255, 255, 0.3);
}
.color-blue {
    background: radial-gradient(ellipse, 
        rgb(15, 15, 255, 0.9),

        rgb(12, 12, 255) 20%, 
        rgba(10, 10, 255) 40%,
         
        rgba(7, 7, 255) 60%,
         
        rgba(5,5,255) 80%, 
        rgba(0,0,255) 100%);
    box-shadow: 
        0 0 6px rgb(0,0,255),
        0 0 12px rgba(138, 138, 255, 0.5),
        0 0 18px rgba(255, 255, 255, 0.3);
}
.color-green {
    background: radial-gradient(ellipse, 
        rgb(20,128,20, 0.9),

        rgb(17,128,17) 20%, 
        rgba(15,128,15) 40%,
         
        rgb(10, 128, 10) 60%,
         
        rgb(5, 128, 5) 80%, 
        rgba(0,128,0) 100%);
    box-shadow: 
        0 0 6px rgb(0,128,0),
        0 0 12px rgba(67, 143, 67, 0.5),
        0 0 18px rgba(255, 255, 255, 0.3);
}
.color-orange {
    background: radial-gradient(ellipse, 
        rgb(255,190,25, 0.9),

        rgb(255,185,20) 20%, 
        rgba(255,180,15) 40%,
         
        rgb(255,175,10) 60%,
         
        rgb(255,170,5) 80%, 
        rgba(255,165,0) 100%);
    box-shadow: 
        0 0 6px rgb(255,165,0),
        0 0 12px rgba(255, 208, 120, 0.5),
        0 0 18px rgba(255, 255, 255, 0.3);
}
.color-purple {
    background: radial-gradient(ellipse, 
        rgb(128,25,128, 0.9),

        rgb(128,20,128) 20%, 
        rgba(128,15,128) 40%,
         
        rgb(128,10,128) 60%,
         
        rgb(128,5,128) 80%, 
        rgb(128,0,128) 100%);
    box-shadow: 
        0 0 6px rgb(128,0,128),
        0 0 12px rgba(255, 152, 255, 0.5),
        0 0 18px rgba(255, 255, 255, 0.3);
}

/*setting size of tree image*/
.tree-container img {
    height: 600px;
}
.tree-container {
    margin-left: 425px;
    display:flex;
    flex-direction: column;
    align-items:center;
    position:relative;
    width: fit-content;
    height: fit-content;
}
.light-buttons-section-container {
    display:flex;
}

.tree-pot img {
    height: 150px;
}

.tree-pot {
    z-index: 1;
}

.tree-img {
    z-index: 2;
    margin-bottom: -33px
}


/*basic design for the control panel buttons*/
.light-control-buttons {
    margin-top:10px;
    display:flex;
    width:90%;
    max-width: 1450px;
    align-items: center;
    justify-content: space-between;
    border: 4px solid rgb(114, 114, 114);
    padding: 0 20px 10px 20px;
    background-image: url("public/wooden.webp");
    border-image:   linear-gradient(to right,
        red 10%,
        white 10%, white 20%,
        red 20%, red 30%,
        white 30%, white 40%,
        red 40%, red 50%,
        white 50%, white 60%,
        red 60%, red 70%,
        white 70%, white 80%,
        red 80%, red 90%,
        white 90%
        ) 5;
}

.color-selector {
    margin-left:50px;
    padding-right: 100px;
}

.pop-up-container {
    display: flex;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}

.big-button-container img {
    width: 50px;
}


.big-button-container button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top:10px;
    margin-right: 50px;
    border: 4px solid rgb(104, 104, 104);
}

#bing-button {
    background-color: red;
}
#puppies-button {
    background-color: yellow;
}
#penguin-button {
    background-color: lightseagreen;
}

.color-selector, .pattern-selector {
    margin-top:10px;
    text-align:center;
}

.color-selector div {
    margin-bottom: -3px;
}

.color-selector button,
.pattern-selector button {
    height: 25px;
    border: 2px solid rgb(104, 104, 104);
}
.pattern-selector button {
    width: 75px;
}
.color-selector button {
    width: 45px;
}
.color-selector button:hover,
.pattern-selector button:hover,
.big-button-container button:hover {
    filter: brightness(0.7);
    transition: 75ms ease-in 75ms;
    cursor:pointer;
}

#lights-off-button {
    width:200px;
    background-color:rgb(255, 148, 148);
}
#lights-on-button{
    background-color:rgb(190, 253, 175);
}
#lights-flash-button{
    background-color:rgb(249, 255, 171);
}
#lights-chase-button{
    background-color:rgb(168, 255, 255);
}

#lights-white-button{
    background-color:white;
}
#lights-red-button {
    background-color:red;
}
#lights-blue-button {
    background-color:blue;
}
#lights-green-button {
    background-color:green;
}
#lights-orange-button {
    background-color:orange;
}
#lights-purple-button {
    background-color:purple;
}
#lights-mixed-button {
    background: linear-gradient(90deg, red, blue, green, orange, purple);
}

/*positioning the lights (NB this is a lot but you know)*/

#light0 {transform: rotate(60deg); top:60px; left:190px;}
#light1 {transform: rotate(20deg); top:100px; left:180px;}
#light2 {transform: rotate(110deg); top:120px; left:220px;}
#light3 {transform: rotate(320deg); top:140px; left:160px;}
#light4 {transform: rotate(200deg); top:160px; left:195px;}
#light5 {transform: rotate(10deg); top:180px; left:230px;}
#light6 {transform: rotate(320deg); top:190px; left:140px;}
#light7 {transform: rotate(90deg); top:200px; left:165px;}
#light8 {transform: rotate(216deg); top:210px; left:195px;}
#light9 {transform: rotate(175deg); top:220px; left:220px;}
#light10 {top:230px; left:250px;}
#light11 {transform: rotate(45deg); top:240px; left:110px;}
#light12 {transform: rotate(132deg); top:250px; left:135px;}
#light13 {transform: rotate(318deg); top:260px; left:160px;}
#light14 {transform: rotate(99deg); top:270px; left:195px;}
#light15 {transform: rotate(232deg); top:280px; left:220px;}
#light16 {transform: rotate(110deg); top:290px; left:255px;}
#light17 {transform: rotate(25deg); top:300px; left:280px;}
#light18 {transform: rotate(3deg); top:310px; left:90px;}
#light19 {transform: rotate(206deg); top:320px; left:125px;}
#light20 {transform: rotate(35deg); top:330px; left:150px;}
#light21 {transform: rotate(117deg); top:340px; left:185px;}
#light22 {transform: rotate(17deg); top:350px; left:210px;}
#light23 {transform: rotate(32deg); top:360px; left:245px;}
#light24 {transform: rotate(216deg); top:370px; left:270px;}
#light25 {top:380px; left:295px;}
#light26 {transform: rotate(155deg); top:387px; left:65px;}
#light27 {transform: rotate(63deg); top:394px; left:90px;}
#light28 {transform: rotate(166deg); top:401px; left:120px;}
#light29 {transform: rotate(216deg); top:408px; left:150px;}
#light30 {transform: rotate(223deg); top:415px; left:180px;}
#light31 {transform: rotate(309deg); top:422px; left:210px;}
#light32 {transform: rotate(9deg); top:429px; left:240px;}
#light33 {transform: rotate(7deg); top:436px; left:265px;}
#light34 {transform: rotate(177deg); top:443px; left:290px;}
#light35 {transform: rotate(193deg); top:450px; left:320px;}
#light36 {transform: rotate(9deg); top:455px; left:50px;}
#light37 {transform: rotate(195deg); top:460px; left:78px;}
#light38 {transform: rotate(198deg); top:465px; left:95px;}
#light39 {transform: rotate(100deg); top:470px; left:113px;}
#light40 {transform: rotate(299deg); top:475px; left:140px;}
#light41 {transform: rotate(235deg); top:480px; left:167px;}
#light42 {transform: rotate(18deg); top:485px; left:196px;}
#light43 {transform: rotate(45deg); top:490px; left:223px;}
#light44 {transform: rotate(220deg); top:495px; left:250px;}
#light45 {transform: rotate(174deg); top:500px; left:276px;}
#light46 {transform: rotate(129deg); top:505px; left:305px;}
#light47 {transform: rotate(301deg); top:510px; left:330px;}
#light48 {transform: rotate(139deg); top:512px; left:50px;}
#light49 {transform: rotate(358deg); top:520px; left:95px;}
#light50 {transform: rotate(338deg); top:525px; left:135px;}

@media screen and (max-width: 1500px) {
   .scene-container{
        max-width: 1300px;
   }
   #bing-image {
        width: 350px;
        right: 0;
        bottom:0;
    }

    #puppy-image-sofa {
        width: 250px;
        right:70px;
        top: 350px;
    }

    #penguin-image {
        width: 220px;
        right:0;
        top: 154px;
    }
}


@media screen and (max-width:1300px)  {
    .color-selector,
    .pop-up-container {
        padding: 0;
    }
    .color-selector {
        margin-left:30px;
    }
    .pop-up-container button{
        margin-right: 10px;
    }
    .scene-container {
        margin-top: -100px;
        margin-bottom:-75px;
        transform: scale(0.8);
    }
    .big-button-container button {
        width: 75px;
        height: 75px;
        border: 3px solid rgb(104, 104, 104);
    }
    .light-control-buttons {
        width:95%;
    }
}

@media screen and (max-width:1040px)  {
    .scene-container{
        max-width: 1000px;
    }
    #puppy-image-sofa {
        width: 250px;
        right:0;
        top: 490px;
    }

    #penguin-image {
        width: 220px;
        right:0;
        top: 534px;
    }
     .color-selector {
        margin-left:30px;
    }
}

@media screen and (max-width:850px)  {
    .scene-container{
        max-width: 850px;
        background-position: -400px 0;
    }
    .tree-container {
        margin-left: 30px;
    }
    #bing-image {
        width: 300px;
        right: 0;
        bottom:0;
    }

    #puppy-image-fire {
        width: 220px;
        left: 120px;
        bottom:70px;
    }

    #puppy-image-sofa {
        width: 220px;
        right:70px;
        top: 375px;
    }

    #penguin-image {
        width: 250px;
        right: 270px;
        top:500px;
    }
    .light-control-buttons{
        flex-direction: column-reverse;
    }
    .color-selector {
        margin-left:20px;
    }

    .big-button-container button {
        width: 100px;
        height: 100px;
        border: 4px solid rgb(104, 104, 104);
        margin-right: 20px;
    }
    .light-control-buttons {
        width:90%;
    }
}

@media screen and (max-width:686px)  {
    .scene-container{
        max-width: 640px;
    }
    #puppy-image-sofa {
        width: 220px;
        right:50px;
        top: 520px;
    }
    #penguin-image {
        width: 250px;
        right: 50px;
        top:500px;
    }
    .pattern-selector button {
        width: 65px;
    }
}

@media screen and (max-width:520px)  {
    .light-buttons-section-container {
        flex-direction: column;
    }
    .color-selector {
        margin-left:0;
        margin-bottom: 10px;
    }
    .scene-container{
        max-width: 500px;
    }
    #puppy-image-sofa {
        width: 220px;
        right:-35px;
        top: 520px;
    }
    #penguin-image {
        width: 250px;
        right: 0;
        top:500px;
    }
    #bing-image {
        width: 300px;
        right: -1px;
        bottom:-1px;
    }  
}


@media screen and (max-width:450px)  {
    .tree-container {
        margin-left:0;
    }

    #puppy-image-fire {
        width: 220px;
        left: 70px;
        bottom:75px;
    }

    #puppy-image-sofa {
        width: 220px;
        right:-35px;
        top: 520px;
    }
    #penguin-image {
        width: 250px;
        right: 0;
        top:500px;
    }
    .big-button-container button {
        width: 75px;
        height: 75px;
        border: 3px solid rgb(104, 104, 104);
    }
    .scene-container{
        max-width: 440px;
        background-position: -430px 0;
    } 
    
}
